<div class="jumbotron bg-primary text-white">
  <h1 class="display-4">Notes App</h1>
  <p class="lead">Ta ayudamos a organizar tu día.</p>
  <hr class="my-4">
  <p>Crea tus propias notas.</p>
  <a class="btn btn-success btn-lg" href="/registrar" role="button">Registrarse</a>
</div>