<div class="row">
    <div class="col-2"></div>
    <div class="col-8">
        <h2>Nueva Nota</h2>
        <form class="p-3" method="post" action="/nueva-nota">
            <input type="text" name="title" class="form-control mb-1" placeholder="Titulo de nota">
            <div class="form-group">
                <textarea name="description" placeholder="Descripción de nota" class="form-control mb-1"></textarea>
            </div>
            <button type="submit" class="btn btn-danger text-white">Agregar <i class="fas fa-plus mx-1"></i></button>
        </form>
    </div>
    <div class="col-2"></div>
</div>