<div class="row">
    <div class="col-4"></div>
    <div class="col-4">
        <div class="card">
            <div class="card-header"><h4>Iniciar sesión</h4></div>
            <div class="card-body">
                <form class="p-3" action="/ingresar" method="POST">
                    <input type="email" name="email" class="form-control mb-1" placeholder="Correo">
                    <input type="password" name="password" class="form-control mb-1" placeholder="*********">
                <button class="btn btn-danger btn-block">Ingresar</button>
            </form>
            </div>
        </div>
    </div>
    <div class="col-4"></div>
</div>