<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
       <div class="card">
            <div class="card-header"><h4>Nueva cuenta</h4></div>
            <div class="card-body">
                <form class="p-3" action="/registrar" method="POST">
                    <input type="text" name="name" class="form-control mb-1" placeholder="Nombre">
                    <input type="email" name="email" class="form-control mb-1" placeholder="Correo">
                    <input type="password" name="password" class="form-control mb-1" placeholder="*********">
                    <input type="password" name="confirmPassword" class="form-control mb-1" placeholder="*********">
                    <button class="btn btn-danger btn-block text-white">Crear cuenta</button>
                </form>
            </div>
       </div>
    </div>
    <div class="col-3"></div>
</div>